/*-------------------   Vente  ------------------- */

main{
    background-color: var(--beige_clair);
}

i{
    color: var(--vert_canard)
}

p{
    margin: 0;
}

.underline{
    text-decoration: underline;
}

.article_vente{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
}
.para_contact{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--vert_fonce1);
    color: var(--beige_clair);
}
.para_contact a{
    color: var(--beige_clair);
}
.section_vente{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.produit{
    margin: 2%;
    padding: 1%;
    width: 21%;
    background-color: var(--beige_fonce);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.5s;
    border-radius: 5%;
}

.produit:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.img_produit{
    height: 150px;
}
/*-------------------   Vente  ------------------- */
/*-------------------   Profil  ------------------- */
.main_profil{
    justify-content: space-evenly;
}

.main_profile > * {  
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}
.article_commande{
    padding: 16px;
    background-color: var(--beige_fonce);
    width: 100%;
    border-radius: 5px;
    margin: 20px 0;

}
.article_commande h5{
    border-bottom: 1px dashed var(--vert_feuille) ;
    padding-bottom: 10px;
}
.info_produit{
    display: flex;
    flex-direction: row;
    padding: 16px 0;
}
.img_commandes{
    max-width: 100px;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px dashed var(--vert_feuille) ;

}
.voir_commande{
    margin: auto;
    border-style: none;
    border-radius: 5px;
    background-color: var(--vert_feuille);
    padding: 8px;

}
/*-------------------   Profil  ------------------- */
/*------------------   Commandes  ------------------ */

.main_commande > *{
    margin: 0 auto;
    width: 80%;

}

.img_commandes_xl{
    max-width: 200px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px dashed var(--vert_feuille) ;
}

.info_commande{
    border-bottom: 1px solid var(--vert_feuille) ;
    padding-bottom: 10px;
    
}
/*------------------   Commandes  ------------------ */
@media screen and (max-width: 1289px){
    .main_profil{
        flex-direction: column;
        width: 70%;
        margin-left: 200px;

    }
    .article_profile{
        display: flex;
        justify-content: space-around;
        align-items: center ;
        margin: 30px 0  ;
    }

}
@media screen and (max-width: 991px){
    .section_vente{
        justify-content: space-evenly;
        width: 100%;
    }
    .produit{
        width: 40%;
    }
    .main_profil{
        margin-left: 150px;
    }
}

@media screen and (max-width: 767px) {
    main{
        margin-left: 0;
    }
    .section_vente{
        width: 100%;
    }
    .produit{
        width: 90%;
    }
    .article_vente{
        margin-top: 10px;
    }
    .main_profil{
        margin: auto;
    }
    .article_profile{
        flex-direction: column;
    }

}