/* ----------------------  Reset CSS  ----------------------- */
html {
	font-size: 62.5%;
}
body {
	background-color: 
#fff;
	color: 
#000;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.4em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
}

/* font-sizing for content */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details, 
figure, 
hgroup {
	font-size: 1em; /* equiv 14px */
	line-height: 1.5;
	margin: 1.5em 0 0;
}
h1, .h1-like {
	font-size: 1.8571em; /* equiv 26px */
	font-weight: normal;
	line-height: 1.6154em;
	margin: .8077em 0 0 0;
}
h2, .h2-like {
	font-size: 1.7143em; /* equiv 24px */
	font-weight: normal;
	line-height: 1.75em;
	margin: .875em 0 0 0;
}
h3, .h3-like {
	font-size: 1.5714em; /* equiv 22px */
	font-weight: normal;
	line-height: 1.909em;
	margin: .9545em 0 0 0;
}
h4, .h4-like {
	font-size: 1.4286em; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
	margin:  1.05em 0 0 0;
}
h5, .h5-like {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin:  1.1667em 0 0 0;
}
h6, .h6-like {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin:  1.3125em 0 0 0;
}


/* soft reset */
html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 2em;
}
code, 
pre,
samp {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code { line-height: 1em; }
table { margin-bottom: 1.5em; }
li { list-style: none; }
a { text-decoration: none;}
/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }
/* ----------------------  Reset CSS  ----------------------- */



/* ------------------------  Général  ------------------------- */
:root{
    --vert_canard: #638889;
    --vert_fonce: #4c6868;
    --vert_fonce1: #405151;
    --vert_feuille: #9DBC98;
    --beige_fonce: #EBD9B4;
    --beige_clair: #F9EFDB;
}

* {
    box-sizing: border-box;
}

main{
    display: flex;
    margin-left: 100px;
}

@keyframes rotate-90-ccw {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-90deg);
    }
  }

img{
    object-fit:contain ;

}
@font-face {
    font-family: yozakura;
    src: url(../police/YOZAKURA-Regular.otf);
  }
/* ------------------------  Général  ------------------------- */


/* ------------------------  Header  ------------------------- */
header{
    height: 50px;
    background-color: var(--vert_canard);
}
/* ------------------------  Header  ------------------------- */


/* ------------------------  side bar  ------------------------- */
.side_bar{
    background-color: var(--vert_feuille);
    width: 100px; 
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    
}

.side_bar_menu{
    display: flex;    
    width: 100%;

}

.list_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-left: 0;

}

.side_bar_menu a {
    transform: rotate(-90deg);
    font-size: 18px;
}

.side_bar_menu a {
    transition: transform 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.side_bar_menu a:hover {
    transform: rotate(0deg);
}

a{ color: black;}
/* ------------------------  Nav  ------------------------- */


/* ------------------------  Footer  ------------------------- */
footer{
    height: 50px;
    background-color: var(--vert_canard);
}
/* ------------------------  Footer  ------------------------- */

h1 {
    font-family: yozakura;
    font-size: 65px;
  } 

/* --------------------  Medias Queries  --------------------- */
@media screen and (max-width: 767px) {
	.side_bar{
		width: 100%; 
		padding: 10px;
		position:sticky;
		display: flex;
		
	}
}


/* --------------------  Medias Queries  --------------------- */
