/* Réinitialisation des marges et des paddings pour un meilleur contrôle */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    flex-direction: column;
}

/* En-tête */





/* Style pour le titre h2 */
.sous-titre {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
}

/* Style pour la banderole */
.banderole {
    background-color: var(--vert_canard);
    color: var(--beige_clair);
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.images-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.membres {
    float: left;
}

.membres-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 600px;
}

.images-membres {
    width: 200px;
    height: auto;
    border: 1px solid var(--noir);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: 20px;
    border-radius: 50%;
}