/* Réinitialisation des marges et des paddings pour un meilleur contrôle */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    flex-direction: column;
}
/* Style pour le corps de la page */
body {
    font-family: Kaisei HarunoUmi, serif;
    color: var(--vert_fonce1);
    background-color: var(--beige_clair);
}

/* En-tête */
header {
    background-color: var(--vert_canard);
    color: var(--beige_clair);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
}

header h1 {
    margin-left: 600px;
}

header img {
    width: 80px;
    height: auto;
    border: 1px solid var(--noir);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style pour le sous-titre */
.sous-titre {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
}

/* Style pour la banderole */
.banderole {
    background-color: var(--vert_fonce1);
    color: var(--beige_clair);
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.images-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.membres {
    float: left;
}

.membres-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-bottom: 600px;
}

.images-membres {
    width: 200px;
    height: auto;
    border: 1px solid var(--noir);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: 20px;
    border-radius: 50%;
}

.produit {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 514px) {
    .images-container {
        flex-direction: column;   
    }

    .produit {
        width: 80%;
    }
    
}