/* Réinitialisation des marges et des paddings pour un meilleur contrôle */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    flex-direction: column;
}

/* Style pour le sous-titre */
.sous-titre {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
}

/* Style pour la banderole */
.banderole {
    background-color: var(--vert_fonce1);
    color: var(--beige_clair);
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.images-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.membres {
    float: left;
}

.membres-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    margin-bottom: 30px;
}

.images-membres {
    width: 200px;
    height: auto;
    border: 1px solid var(--noir);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

/* Sélecteur pour les noms des membres */
.membres-container p span.nom {
    font-size: 30px;
    font-weight: bold;
    color: var(--vert_feuille);
}

/* Sélecteur pour les descriptions des membres */
.membres-container p span.description {
    font-style: italic;
}

.produit {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 514px) {
    .images-container {
        flex-direction: column;   
    }

    .produit {
        width: 80%;
    }
    
}