main{
    background-color: var(--beige_clair);
}

.section_principale{
    margin-left: 4%;
}



.underline{
    text-decoration: underline;
}

.center{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_vente{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.produit{
    margin: 2%;
    padding: 1%;
    width: 21%;
    background-color: var(--beige_fonce);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_produit{
    height: 150px;
}